.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid black;
    background-color: rgb(210, 204, 204);
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
}